.start {
  background-image: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe4fa7));
  background-image: -webkit-linear-gradient(left, #fe985b 0%, #fe4fa7 100%);
  background-image: -o-linear-gradient(left, #fe985b 0%, #fe4fa7 100%);
  background-image: linear-gradient(to right, #fe985b 0%, #fe4fa7 100%); }
